<!DOCTYPE HTML>
<html>
<head>
   <link rel="shortcut icon" type="x-icon" href="/images/bonfire-darksouls.gif">
     <link rel="stylesheet" href="Style2.css">
     <link href="https://fonts.cdnfonts.com/css/optimus-princeps" rel="stylesheet">
     <title> Sword Demon: accessories for warriors  </title>
    </head>

    <style>
        body {
          background-image: url('/images/Dark-Souls-фэндомы-Pixel-Art-gif-2464970.gif');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
        }
        </style>

<header>

  <h3>

    <div class="container">

        SWORD 
   
        <a href="#" class="image-button">
         <img src="/images/bonfire-darksouls.gif" onclick="playSound()" style="width:50px;height:50px;" > 
       </a>
         <script> 
   
          function playSound() {
   var audio = new Audio('/sounds/Bonefire.mp3');
   audio.play();
   }
   function playSound2() {
   var audio = new Audio('/sounds/item-get.mp3');
   audio.play();
   }
   
        </script>
     
       DEMON
       
         <a href="main_page.html" class="Button" onmouseenter="playSound2()" target=_self>HOME</a>
         
         <div class="dropdown" >
         
           <a href="Store_page.html" class="Button" onmouseenter="playSound2()" target=_self>STORE</a>
         
       </button>
       
       <div class="dropdown-content">
         <a href="Katana_page.html" class="Button" onmouseenter="playSound2()">Katanas</a>
         <a href="Knives_page.html" class="Button" onmouseenter="playSound2()">Knives</a>
         <a href="Armor_page.html" class="Button" onmouseenter="playSound2()">Armory</a>
      
       </div>
     
     </div>
   
   
         
     <a href="About_page.html" class="Button" onmouseenter="playSound2()" target=_self>ABOUT</a>
         
     <a href="Contact_page.html" class="Button" onmouseenter="playSound2()" target=_self>CONTACT</a>
       
   </div>    
  </h3>
</header>



<body>

  <div class="products">
    <div class="product">
  
      <h2>“The Wayward Knight” Black Armor </h2>
      <br>
      <img src="/images/black-armor-kit-the-wayward-knight-22.jpg"  height="540" alt="“The Wayward Knight”">
    </a>
      <br>
      <br>
      <h1> 3699.99 $</h1> <br>
   
      <h1>
      <a href="#" class="Button">ADD TO CARD</a>
      </h1>
      <br>
    </div>
    <div class="product">
        <h2> Gothic Armour Knight</h2>
        <br>
        <img src="/images/medieval-knight-gothic-plate-armour-kit-33.jpg"  height="540" alt="Gothic Armour Knight">
        <br>
        <br>
        <h1>5599.99 $</h1> <br>
   
      <h1>
        <a href="#" class="Button">ADD TO CARD</a>
      </h1>
      <br>
    </div>
    <div class="product">
        <h2>  Sitten Bascinet Helmet </h2>
        <br>
        <img src="/images/medieval-helmet-bascinet-of-german-origin-xiv-6.jpg"  height="560" alt="Sitten Bascinet Helmet">
        <br>
        <br>
        <h1>339.99 $</h1> <br>
   
        <h1>
        <a href="#" class="Button">ADD TO CARD</a>
      </h1>
  
    </div>

    <div class="product">
      <h2>  Armour “The Kingmaker” </h2>
      <br>
      <img src="/images/full-armour-the-kingmaker-1.jpg"  height="560"   alt="Armour “The Kingmaker”">
      <br>
      <br>
      <h1>5899.99 $</h1> <br>
 
      <h1>
      <a href="#" class="Button">ADD TO CARD</a>
    </h1>

  </div>

  <div class="product">
    <h2>  Armor “The King's Guard”</h2>
    <br>
    <img src="/images/medieval-western-knights-armor-kit-the-kings-guard.jpg"  height="560"   alt="Armor “The King's Guard">
    <br>
    <br>
    <h1>3559.99 $</h1> <br>

    <h1>
    <a href="#" class="Button">ADD TO CARD</a>
  </h1>

</div>

<div class="product">
  <h2>  Bascinet “The Wayward Knight”</h2>
  <br>
  <img src="/images/the-wayward-knight-blackened-klappvisor-bascinet-xiv-century-helmet-with-visor-6.jpg"  height="560"  alt="Bascinet “The Wayward Knight">
  <br>
  <br>
  <h1>559.99 $</h1> <br>

  <h1>
  <a href="#" class="Button">ADD TO CARD</a>
</h1>

</div>


</body>












</html>