<!DOCTYPE HTML>
<html>
<head>
   <link rel="shortcut icon" type="x-icon" href="images/bonfire-darksouls.gif">
     <link rel="stylesheet" href="Style2.css">
     <link href="https://fonts.cdnfonts.com/css/optimus-princeps" rel="stylesheet">
     <title> Sword Demon: accessories for warriors  </title>
    </head>

    <style>
        body {
          background-image: url('/images/Dark-Souls-фэндомы-Pixel-Art-gif-2464970.gif');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
        }
        </style>

<header>

  <h3>

    <div class="container">

        SWORD 
   
        <a href="#" class="image-button">
         <img src="images/bonfire-darksouls.gif" onclick="playSound()" style="width:50px;height:50px;" > 
       </a>
         <script> 
   
          function playSound() {
   var audio = new Audio('/sounds/Bonefire.mp3');
   audio.play();
   }
   function playSound2() {
   var audio = new Audio('/sounds/item-get.mp3');
   audio.play();
   }
   
        </script>
     
       DEMON
       
         <a href="main_page.html" class="Button" onmouseenter="playSound2()" target=_self>HOME</a>
         
         <div class="dropdown" >
         
           <a href="Store_page.html" class="Button" onmouseenter="playSound2()" target=_self>STORE</a>
         
       </button>
       
       <div class="dropdown-content">
         <a href="Katana_page.html" class="Button" onmouseenter="playSound2()">Katanas</a>
         <a href="Knives_page.html" class="Button" onmouseenter="playSound2()">Knives</a>
         <a href="Armor_page.html" class="Button" onmouseenter="playSound2()">Armory</a>
      
       </div>
     
     </div>
   
   
         
     <a href="About_page.html" class="Button" onmouseenter="playSound2()" target=_self>ABOUT</a>
         
     <a href="Contact_page.html" class="Button" onmouseenter="playSound2()" target=_self>CONTACT</a>
       
   </div>    
  </h3>
</header>



<body>

  <div class="products">
    <div class="product">
  
      <h2>  KA-BAR USMC 1217 plain edge </h2>
      <br>
      <img src="images/KA1217_01_ka-bar-ka1217-01.webp"  height="300" alt="Katana 8201 (KATANA) red+black">
    </a>
      <br>
      <br>
      <h1> 146.99$</h1> <br>
   
      <h1>
      <a href="#" class="Button">ADD TO CARD</a>
      </h1>
      <br>
    </div>
  
    <div class="product">
        <h2>  Spyderco Paramilitary 2 C81GP2 pocket knife </h2>
        <br>
        <img src="images/SPC81GP2_01_spyderco.webp"  height="300"  alt="Spyderco Paramilitary 2">
        <br>
        <br>
        <h1>119.99 $</h1> <br>
   
        <h1>
        <a href="#" class="Button">ADD TO CARD</a>
      </h1>
  
    </div>

    <div class="product">
      <h2>  Buck 110 Folding Hunter </h2>
      <br>
      <img src="images/Buck-110_01_buck-v201902.webp"  height="300" alt="Buck 110 Folding Hunter">
      <br>
      <br>
      <h1>99.99 $</h1> <br>
 
      <h1>
      <a href="#" class="Button">ADD TO CARD</a>
    </h1>

  </div>

  <div class="product">
    <h2>  CRKT CEO Flipper 7097 pocket knife </h2>
    <br>
    <img src="images/CK-7097_01_crkt.webp"   height="300"  alt="CRKT CEO Flipper">
    <br>
    <br>
    <h1>69.99 $</h1> <br>

    <h1>
    <a href="#" class="Button">ADD TO CARD</a>
  </h1>

</div>



</body>












</html>