<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" type="x-icon" href="/images/bonfire-darksouls.gif">
    <link rel="stylesheet" href="/public/Style2.css">
    <link href="https://fonts.cdnfonts.com/css/optimus-princeps" rel="stylesheet">
    <title> Sword Demon: Shopping Cart </title>
</head>

<body>
    <div class="cart-container">
        <h2>Ваш Кошик</h2>

        <% if (cartProducts.length === 0) { %>
            <h3 style="color: #ffa600; margin-top: 40px;">Ваш кошик порожній, воїне. Час поповнити арсенал!</h3>
        <% } else { %>
            
            <% let grandTotal = 0; %>

            <% cartProducts.forEach(function(product) { %>
                <% grandTotal += product.total_price; %>

                <div class="cart-item">
                    <img src="<%= product.image_url %>" alt="<%= product.name %>">
                    
                    <div class="item-details">
                        <h4><%= product.name %></h4>
                    </div>

                    <div class="item-price"><%= product.price.toFixed(2) %> $</div>
                    
                    <div class="item-quantity">Кількість: <%= product.quantity %></div>

                    <div class="item-total">Всього: <%= product.total_price.toFixed(2) %> $</div>
                </div>
            <% }); %>

            <div class="cart-summary">
                Загальна сума: <%= grandTotal.toFixed(2) %> $
            </div>
            
            <a href="#" class="Button" style="margin-top: 30px;">ПЕРЕЙТИ ДО ОФОРМЛЕННЯ</a>

        <% } %>
    </div>
</body>
</html>