<!DOCTYPE HTML>
<html>
<head>
   <link rel="shortcut icon" type="x-icon" href="images/bonfire-darksouls.gif">
     <link rel="stylesheet" href="/Style2.css">
     <link href="https://fonts.cdnfonts.com/css/optimus-princeps" rel="stylesheet">
     <title> Sword Demon: accessories for warriors  </title>
    </head>

    <style>
        body {
          background-image: url('/images/h9phrgL.gif');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
        }
        </style>

<header>

    <h3>

      <div class="container">

        SWORD 
   
        <a href="#" class="image-button">
         <img src="/images/bonfire-darksouls.gif" onclick="playSound()" style="width:50px;height:50px;" > 
       </a>
         <script> 
   
          function playSound() {
   var audio = new Audio('/sounds/Bonefire.mp3');
   audio.play();
   }
   function playSound2() {
   var audio = new Audio('/sounds/item-get.mp3');
   audio.play();
   }
   
     </script>
  
    DEMON
    
      <a href="/" class="Button" onmouseenter="playSound2()" target=_self>HOME</a>
      
      <div class="dropdown" >
      
        <a href="/store" class="Button" onmouseenter="playSound2()" target=_self>STORE</a>
      
    </button>
    
    <div class="dropdown-content">
      <a href="/katanas" class="Button" onmouseenter="playSound2()">Katanas</a>
      <a href="/knives" class="Button" onmouseenter="playSound2()">Knives</a>
      <a href="/armory" class="Button" onmouseenter="playSound2()">Armory</a>
   
    </div>
  
  </div>


      
  <a href="/about" class="Button" onmouseenter="playSound2()" target=_self>ABOUT</a>
      
  <a href="/contact" class="Button" onmouseenter="playSound2()" target=_self>CONTACT</a>
    
</div>
   
  </h3>
</header>



</div>


    </h3>
  </header>



<body>
<div class="About">
    <h5>
        <p> <h4 id="Box1"> <b> Sword Demon </b> </h4><br>
           
            online store of knives, hunting tools, souvenir weapons and armor.<br> Weapons of the "Demon's Sword" site presents a large catalog of souvenir weapons of various time periods and their origins, from long swords to halberds.</p>
    <p><br>The quality of metal alloys is of the highest quality, <br>different grades of steel were used - 420, 440 A, 440 C, Bohler K340, 8Cr13MoV and 8Cr14MoV, as well as 110X18MShD, 65X13, 50X14MF and 40X13 and others.</p>
     <p><br> All products undergo examination to obtain a certificate <br> confirming that they do not belong to cold weapons. All products are accompanied by a corresponding opinion of an expert when sold. <br>
     </p>
</h5>

</div>

</body>






