<!DOCTYPE HTML>
<html>
<head>
   <link rel="shortcut icon" type="x-icon" href="/images/bonfire-darksouls.gif">
     <link rel="stylesheet" href="Style2.css">
     <link href="https://fonts.cdnfonts.com/css/optimus-princeps" rel="stylesheet">
     <title> Sword Demon: accessories for warriors  </title>
    </head>

    <style>
        body {
          background-image: url('/images/Dark-Souls-фэндомы-Pixel-Art-gif-2464970.gif');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
        }
        </style>

<header>

  <h3>
      
     <div class="container">

     SWORD 

     <a href="#" class="image-button">
      <img src="/images/bonfire-darksouls.gif" onclick="playSound()" style="width:50px;height:50px;" > 
    </a>
      <script> 

       function playSound() {
var audio = new Audio('/sounds/Bonefire.mp3');
audio.play();
}
function playSound2() {
var audio = new Audio('/sounds/item-get.mp3');
audio.play();
}

     </script>
  
    DEMON
    
      <a href="/" class="Button" onmouseenter="playSound2()" target=_self>HOME</a>
      
      <div class="dropdown" >
      
        <a href="/store" class="Button" onmouseenter="playSound2()" target=_self>STORE</a>
      
    </button>
    
    <div class="dropdown-content">
      <a href="/katanas" class="Button" onmouseenter="playSound2()">Katanas</a>
      <a href="/knives" class="Button" onmouseenter="playSound2()">Knives</a>
      <a href="/armory" class="Button" onmouseenter="playSound2()">Armory</a>
   
    </div>
  
  </div>


      
  <a href="/about" class="Button" onmouseenter="playSound2()" target=_self>ABOUT</a>
      
  <a href="/contact" class="Button" onmouseenter="playSound2()" target=_self>CONTACT</a>
    
</div>
   
  </h3>
</header>



</div>

<body>

  <div class="type_product">

    <h2> Samurai Katanas  </h2>
    <br>
    <a href="/katanas" onmouseenter="playSound2()">
    <img src="/images/katanas_3d_editor_a_i5_result.jpg"  height="300" width="550" alt="Katanas">
  </a>

</div>

<div class="type_product">

  <h2>  Hunting Knives  </h2>
  <br>
  <a href="/knives" onmouseenter="playSound2()">
  <img src="/images/hunting-blog.png"  height="300" width="550" alt="Katanas">
</a>

</div>

<div class="type_product">

  <h2>  Armor Sets  </h2>
  <br>
  <a href="/armory" onmouseenter="playSound2()">
  <img src="/images/31383346456_352517a0ee_k.webp"  height="300" width="550" alt="Katanas">
</a>
  
</body>












</html>